.topBar {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 22px 20px;
    background-color: #fff;
    box-shadow: rgba(33, 35, 38, 0.979) 0px 10px 10px -10px;
}