.listItem {
    padding: 10px;
    margin-bottom: 20px;
    gap: 8px;
}

.listIcon {
    justify-content: center;
}

.listText {
    color: var(--white);
    display: "inline-block";
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .listItem {
        padding: 10px 5px !important;
        /* margin-bottom: 20px; */
        gap: 0;
    }
}