.inputField input {
    height: 25px;
    padding: 0px 10px;
    font-size: 12px;
    width: 100%;
}

.inputField label {
    height: 20px;
    top: -12px;
    font-size: 12px;
}

.inputField label[data-shrink="true"] {
    top: 0;
    font-size: 13px;
}

.inputField fieldset {
    font-size: 11px;
}